.c-carusel{
    .c-item{   
        .texto-banner{ 
            margin: 2rem 0 0 10rem;
            position: absolute;
            .infoBanner{
                width: 35vw;
                font-weight: bold;
                line-height: 1;
                font-size: 2.5rem;
                span{
                    font-weight: lighter;
                    font-size: 2rem;
                }                
            }

            @media screen and (max-width: 992px) {
                .infoBanner{
                    font-size: 2.2rem;
                    span{
                     font-size: 1rem ;
                    }
                }
            }
            
            @media only screen and (max-width: 576px) {
                .infoBanner{
                    z-index: 5;
                    background-color: #000000;
                    color: #fff;
                    width: 72vw;
                    font-size: 1.8 rem;
                    padding: .5rem 1rem;
                    margin-top: 0rem;
                    span{
                     font-size: 1.6rem ;
                    }
                }
            }
            @media only screen and (max-width: 420px) {
                .infoBanner{
                    font-size: 1.3rem;
                   
                    span{
                     font-size: 1rem ;
                    }
                }
            } 
            .lemaNacio{
                line-height: 1;
                .lema1{
                    margin: 0;
                    font-size: 1.8rem;
                    padding-bottom: .5rem;
                    color: #000000;
                }
                .lema2{
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                    color: #000000;

                }
                .ciudadBanner{
                     font-weight: lighter;
                     font-size: 1.25rem;
                     color: #000000;

                }
                @media only screen and (max-width: 768px) {
                    .lema1 {font-size: 1.25rem;}
                    .lema2 {font-size: 1rem; }
                    .ciudadBanner {font-size: 1rem; }
                }
                @media only screen and (max-width: 576px) {
                    .ciudadBanner {
                     font-weight: bold;
                     }               
                 }
                 @media only screen and (max-width: 360px) {
                    .lema1 {font-size: 1rem;}
                    .lema2 {font-size: .8rem; }
                    .ciudadBanner {font-size: .8rem; }
                }
            }
            
        }
        @media only screen and (max-width: 768px) {
            .texto-banner{
                margin: 1rem 0 0 5rem;
            }
        }
        @media only screen and (max-width: 576px) {
            .texto-banner{
                margin-left: 4rem;
            }
        }
        @media only screen and (max-width: 360px) {
            .texto-banner{
                margin-left: 3rem;
            }
        }
        
        .img-banner{
           
            display: flex;
            justify-content: flex-end;
            .c-img{
                margin-right: 4rem;
            }
           @media only screen and (max-width: 1200px) {
                .c-img{
                    height: auto;
                }
            }
            
        }
        @media only screen and (max-width: 768px) {
            .img-banner{
                display: none;
            }
        }
        .img-banner-pq{
            display: none;
        }
        @media only screen and (max-width: 768px) {
            .img-banner-pq{
                display: flex;
                justify-content: flex-end;
                height:auto;
                padding-right: 2rem;
            }
        }
    
        @media only screen and (max-width: 576px) {
            .img-banner-pq{
                opacity: 0;
            }
        }
        .img-banner-logo{
            display: none;
            img{
                top: 0rem;
                position: absolute;
                left: 15rem;
                width: 30rem;
                z-index: -1;
            }
            @media only screen and (max-width: 576px) {
                img{
                    left: 10rem;
                }
            }
            @media only screen and (max-width: 360px) {
                img{
                    left: 5rem;
                }
            }
        }
        @media only screen and (max-width: 576px) {
            .img-banner-logo{
                display: contents;
                
            }
        }
    } 
    
    .c-analisis{
        height: auto;
        padding-left: 6rem;
        .nombre-carrera{
            h2{
                font-weight: bold;
                line-height: 1;
                font-size: 2.8rem;
                span{
                    font-weight: lighter
                }
            }
        }
        @media only screen and (max-width: 1200px) {
            .nombre-carrera{
                width: 42%;
            } 
        }
        @media only screen and (max-width: 992px) {
            .nombre-carrera{
                width: 75%;
                margin-left: 4rem;
            } 
        }
        @media only screen and (max-width: 576px) {
            .nombre-carrera{
                width: 90%;
                margin-left: 2rem;
                margin-top: 2rem;
            } 
        }

        @media only screen and (max-width: 992px) {
            .nombre-carrera>h2{
                font-size: 2.4rem;
            } 
        }
       
        @media only screen and (max-width: 576px) {
            .nombre-carrera>h2{
                font-size: 1.2rem;
            } 
            .nombre-carrera>h3{
                font-size: 1rem;
            } 
        }
        .verPlan{
            background-color:#3E4095; 
            color: #ffffff; 
            margin-top: 1rem;
            box-shadow: 1px 2px 0px #555555;
        }
         .verPlan:hover{
            background-color: #8a8ae2; 
            color: #000000; 
            border:none;
            box-shadow: 4px 4px 3px #00000036 inset;
        }
        .img-portada{
            height: 23rem;
            padding-left: 1rem;
        }
    
        @media only screen and (max-width: 992px) {
            .img-portada{
                display: none;
            } 
        }
    }
    @media only screen and (max-width: 1200px) {
        .c-analisis{
            padding-left: 4rem;
        } 
    }
   
    
    .c-diseno{
        height: auto;
        padding-left: 6rem;
        .nombre-carrera{
            h2{
                font-weight: bold;
                line-height: 1;
                font-size: 2.8rem;
                span{
                    font-weight: lighter
                }
            }
        }     
        @media only screen and (max-width: 1200px) {
            .nombre-carrera{
                width: 42%;
            } 
        }
        @media only screen and (max-width: 992px) {
            .nombre-carrera{
                width: 75%;
                margin-left: 4rem;
            } 
        }
        @media only screen and (max-width: 576px) {
            .nombre-carrera{
                width: 90%;
                margin-left: 2rem;
                margin-top: 2rem;
            } 
        }

        @media only screen and (max-width: 992px) {
            .nombre-carrera>h2{
                font-size: 2.4rem;
            } 
        }
        
        @media only screen and (max-width: 576px) {
            .nombre-carrera>h2{
                font-size: 1.2rem;
            } 
            .nombre-carrera>h3{
                font-size: 1rem;
            } 
        }
        .verPlan{
            background-color:#F58634; //#ffb682;
            color: #ffffff; 
           // border:1px solid #f36a0a;
            margin-top: 1rem;
            box-shadow: 1px 2px 0px #555555;
        }
         .verPlan:hover{
            background-color: #f36a0a;   
            color: #000000; 
            border:none;
            box-shadow: 4px 4px 3px #00000036 inset;
        }
        .img-portada{
            height: 18rem;
            padding-right: 10rem;
        }
        @media only screen and (max-width: 992px) {
            .img-portada{
                display: none;
            } 
        }
    }
    @media only screen and (max-width: 1200px) {
        .c-diseno{
            padding-left: 4rem;
        } 
    }
    
    .c-infra{
        height: auto;
        padding-left: 6rem;
        .nombre-carrera{
            h2{
                font-weight: bold;
                line-height: 1;
                font-size: 2.8rem;
                span{
                    font-weight: lighter
                }
            }
        }
       
        @media only screen and (max-width: 992px) {
            .nombre-carrera{
                width: 75%;
                margin-left: 3rem;
            } 
        }
        @media only screen and (max-width: 576px) {
            .nombre-carrera{
                width: 90%;
                margin-left: 2rem;
                margin-top: 2rem;
            } 
        }
        @media only screen and (max-width: 1250px) {
            .nombre-carrera>h2{
                font-size: 2.1rem;
            } 
        }
      
        @media only screen and (max-width: 576px) {
            .nombre-carrera>h2{
                font-size: 1.2rem;
            } 
            .nombre-carrera>h3{
                font-size: 1rem;
            } 
        }
        
        .verPlan{
            background-color:#00AFF0;
            color: rgb(255, 255, 255); 
            margin-top: 1rem;
            box-shadow: 1px 2px 0px #555555;
        }
         .verPlan:hover{
            background-color: #5ad3ff;
            border:none;
            box-shadow: 4px 4px 3px #00000036 inset;
        }
        .img-portada{
            height: 21rem;
            padding-right: 7rem;
        }
        @media only screen and (max-width: 992px) {
            .img-portada{
                display: none;
            } 
        }
    }
    @media only screen and (max-width: 1200px) {
        .c-infra{
            padding-left: 4rem;
        } 
    }
    .c-comercio{
        height: auto;
        padding-left: 6rem;
        .nombre-carrera{
            h2{
                font-weight: bold;
                line-height: 1;
                font-size: 2.8rem;
                span{
                    font-weight: lighter;
                }
            }
        }
       
        @media only screen and (max-width: 1200px) {
            .nombre-carrera{
                width: 80%;
            } 
        }
        @media only screen and (max-width: 992px) {
            .nombre-carrera{
                width: 75%;
                margin-left: 4rem;
            } 
        }
        @media only screen and (max-width: 576px) {
            .nombre-carrera{
                width: 90%;
                margin-left: 2rem;
                margin-top: 2rem;
            } 
        }

        @media only screen and (max-width: 992px) {
            .nombre-carrera>h2{
                font-size: 2.4rem;
            } 
        }
        
        @media only screen and (max-width: 576px) {
            .nombre-carrera>h2{
                font-size: 1.2rem;
            } 
            .nombre-carrera>h3{
                font-size: 1rem;
            } 
        }
        .verPlan{
            background-color:#EC3439; 
            color: #ffffff; 
            margin-top: 1rem;
            box-shadow: 1px 2px 0px #555555;
        }
         .verPlan:hover{
            background-color: #ff777c;
            color: #000000; 
            border:none;
            box-shadow: 4px 4px 3px #00000036 inset;
        }
        .img-portada{
            height: 29rem;
            margin-left: 0rem;
        }
        @media only screen and (max-width: 992px) {
            .img-portada{
                display: none;
            } 
        }
    }
    @media only screen and (max-width: 1200px) {
        .c-comercio{
            padding-left: 4rem;
        } 
    }
    
    .nombre-carrera{
        margin: 4rem 0 0 6rem;
        color: #000000;
        
    }
}
