<div class="row info-carrera">
    <div class="col-7">
        <h2 class="titulo-carrera" id="comercio"><span>Técnico Superior</span><br>Comercialización</h2> 
        <p>El Técnico Superior en Comercialización gradúa profesionales capacitados para tomar decisiones referentes a la creación, desarrollo y promoción de determinado producto y/o servicio así como también para desarrollar y gestionar negocios de una empresa en los distintos mercados que sean de interés de la misma, identificar las necesidades del consumidor y generar las propuestas de valor para satisfacer a la misma.</p>
    </div>
    <div class="col i-carrera">
        <div class="mb-3">
            <img src="./assets/imagenes/comercio.jpg" alt="imagen sobre la carrera">
        </div> 
        <div>
            <img src="./assets/imagenes/comercio-1.png" alt="imagen sobre la carrera">
        </div> 
    </div>
</div>


<div id="planEstudio" class="row"> 
    <div class="col-1 plan-estudio">
        <h2 class="sss">Plan de Estudio</h2>
    </div>
    <div class="col-11 plan-anios">
        <div class="row primero ">
            <h3>PRIMER año</h3>
            <ul>
                <li>Introducción a las Ciencias Sociales</li>
                <li>Economía Política I</li>
                <li>Estadística I</li>
                <li>Administración I</li>
                <li>Derecho Empresario</li>
                <li>Introducción a la comercialización</li>
            </ul>
        </div>
        
        <div class="row segundo">
            <h3>SEGUNDO año</h3>
            <ul>
                <li>Psicología Social y comportamiento del Consumidor</li>
                <li>Economía Política II</li>
                <li>Estadística II</li>
                <li>Administración II</li>
                <li>Política y Desarrollo de Productos</li>
                <li>Política de Ventas</li>
                <li>Seminario: La Empresa y la Región</li>
            </ul>
        </div>
        
        <div class="row tercero">
            <h3>TERCER año</h3>
            <ul>
                <li>Ética Social</li>
                <li>Economía de Empresas</li>
                <li>Comercio Exterior</li>
                <li>Política de Promoción y Publicidad</li>
                <li>Política de Distribución</li>
                <li>Política de Precios</li>
                <li>Seminario: Practica Profesional</li>
            </ul>    
        </div>
    </div>

</div>

