<div class="contenedor-guia">
    <div class="row">
        <div class="col">
            <h2>Guía Del Estudiante</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p>
                Dentro de esta guía usted podra ver la estructura interna del área profesional académica, Tendrá también a su disposición una serie de recomendaciones sobre algunos apartados en su trayectoria educativa y podrá observar la infraestructura del edificio para conocer donde quedan las distintas áreas de ésta institución.
            </p>            
        </div>
        <div class="col-4">
            <img src="../../assets/guiaEst.png" alt="guia del Estudiante">
        </div>
    </div>
</div>

 