<div class="row contenedor-estudiante contenedor-todo"  id="top">
 
    <div class=" col-8 fila-uno">
        <h2 class="titulo-estudiante">Guía Del Estudiante</h2>
        <p class="p-estudiante">Dentro de esta guía usted podra ver la estructura interna del área profesional académica, Tendrá también a su disposición una serie de recomendaciones sobre algunos apartados en su trayectoria educativa y podrá observar la infraestructura del edificio para conocer donde quedan las distintas áreas de ésta institución.</p>
    </div>

    <div class=" col-4 fila-dos">
        <a href="http://www.csfa47.edu.ar/" target="_blank">
            <img src="../../assets/guiaEst.png" alt="guia del Estudiante">
        </a>
    </div>
</div>

