.container-redes{
    background: rgb(101,153,255);
    background: linear-gradient(90deg, rgba(101,153,255,1) 11%, rgba(53,72,110,1) 76%);    
    color: #fff;
    padding: 0 4rem;
    .redes{
        width: 8rem;
        a{
            color:#fff;
        }
        a:hover{
            scale: 1.25;
        }
    }
    
}

.c-navbar{
    padding: .8rem 3rem;
  

    .logoNacio{
       position: absolute;
       z-index: 10;
       top: 0px;
    }
    p{
       margin: 0; 
    }
    .texto-logo{
        margin-left: 6rem;
    }
    .nav-link:hover{
        border-radius: 20px;
        background-color: rgba(101, 152, 255, 0.527);
    }
    .da:hover{
        background-color: #3E4095;
        color: #fff;

    }
    .dd:hover{
        background-color: #F58634;

    }
    .di:hover{
        background-color: #00AFF0;

    }
    .dc:hover{
        background-color: #EC3439;

    }
}

