.container-redes{
    background: rgb(101,153,255);
    background: linear-gradient(90deg, rgba(101,153,255,1) 11%, rgba(53,72,110,1) 76%);    
    color: #fff;
    padding: 0 4rem;
    .redes{
        width: 8rem;
    }
}

.c-navbar{
    padding: .8rem 3rem;
  

    .logoNacio{
       position: absolute;
       z-index: 10;
       top: 0px;
    }
    p{
       margin: 0; 
    }
    .texto-logo{
        margin-left: 6rem;
    }
}

