 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 contenedor-todo">
    <div class="col">
      <div class="card" >
        <img src="./assets/imagenes/analisis.jpeg" class="card-img-top" alt="analisis" height="140px">
        <div class="card-body">
          <h5 class="card-title"><span>Técnico Superior</span><br>Análisis Funcional de Sistemas Informáticos</h5>
          <p class="card-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
              </svg> Presencial</p>
          <p class="card-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
          </svg> 6 semestres</p>
          <a routerLink="Carrera/analisis" href="#planEstudio" class="btn btn-primary mt-3">PLAN DE ESTUDIO</a>
        </div>
      </div>
    </div>
  
    <div class="col">
      <div class="card">
        <img src="./assets/imagenes/diseño gf.jpg" class="card-img-top" alt="Diseño Gráfico" height="140px">
        <div class="card-body">
          <h5 class="card-title"><span>Técnico Superior</span><br>Diseño Gráfico y Publicitario</h5>
          <p class="card-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
              </svg> Presencial</p>
          <p class="card-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
          </svg> 6 semestres</p>
          <a routerLink="Carrera/diseno" class="btn btn-primary mt-3">PLAN DE ESTUDIO</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="./assets/imagenes/infra.jpg" class="card-img-top" alt="Infraestructura" height="140px">
        <div class="card-body">
          <h5 class="card-title"><span>Técnico Superior</span><br>Soporte de Infraestructura de Tecnología de la Información</h5>
          <p class="card-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
              </svg> Presencial</p>
          <p class="card-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
          </svg> 6 semestres</p>
          <a routerLink="Carrera/infraestructura" class="btn btn-primary mt-3">PLAN DE ESTUDIO</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card"  >
        <img src="./assets/imagenes/comercio.jpg"class="card-img-top" alt="comercialización" height="140px">
        <div class="card-body">
          <h5 class="card-title"><span>Técnico Superior</span><br>Comercialización</h5>
          <p class="card-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
              </svg> Presencial</p>
          <p class="card-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
          </svg> 6 semestres</p>
          <a routerLink="Carrera/Comercialización" class="btn btn-primary mt-3">PLAN DE ESTUDIO</a>
        </div>
      </div>
    </div>
</div>
