.contenedor-todo{
    margin-top: 0rem;
    padding: 0 7rem;
}
@media only screen and (max-width: 576px) {
    .contenedor-todo{
        padding: 0 5.5rem;

    } 
}
@media only screen and (max-width: 420px) {
    .contenedor-todo{
        padding: 0 2rem;

    } 
}

.card-body{
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .card-title{
        margin: 0;
        height: 150px;
        span{
            font-size: .8rem;
            font-weight:400;
        }
    }

    p{margin: 0;}

    @media  (min-width: 993px) and (max-width: 1084px) {
        .btn{
            font-size: .75rem;
        } 
    }
    
}
