<div class="contenedor-institucion contenedor-todo" id="institucion">

    <div class="fila-uno">
        <h3 class="titulo-intitucion"><span class="span-uno">Colegio Superior</span><br>Florentino Ameghino N47 <span class="span-dos">Nivel Terciario</span></h3>
    </div>

    <div class="fila-dos">
        <p class="p-uno"><img src="./assets/foto-institucion.jpg" alt="foto institución">
            Posee una larga trayectoria en nuestra ciudad y la zona. En 1930, Don Alfredo Saybene, propuso la creación de un Instituto de Enseñanza Media que posibilitara a los jóvenes cursar el Bachillerato sin necesidad de trasladarse a Rosario.
        </p>
        <p class="p-uno">
            En 1931 inicia sus actividades con el nombre de Instituto Incorporado Florentino Ameghino y, en 1936, toma el nombre de Colegio Nacional, identidad que marca a la Institución como “EL NACIO”
        </p>
        <p class="p-uno">Desde 1987 funciona el Nivel Terciario en donde actualmente se dictan las siguientes Carreras Técnicas:</p>                
    </div>
    
</div>

<div class="c-carreras row">
    <div class="accordion " >
        <div class="accordion-item c-analisis">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Técnico Superior en Análisis Funcional de Sistemas Informáticos
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto-carreras-acordeon" style="color: #fff;">
                        El Técnico Superior en Análisis Funcional de Sistemas Informáticos estará capacitado para comprender e interpretar fines, negocios o actividades de una organización, analizar los procesos que se llevan a cabo, averiguar las necesidades de información, proponer mejoras, especificar requisitos de software, redactar manuales y procedimientos, y apoyar la puesta en marcha de sistemas, actuando de nexo entre usuarios de la organización y el grupo de proyecto.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item c-diseno">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Técnico Superior en Diseño Gráfico y Publicitario
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto-carreras-acordeon">
                        El Técnico Superior en Análisis Funcional de Sistemas Informáticos estará capacitado para comprender e interpretar fines, negocios o actividades de una organización, analizar los procesos que se llevan a cabo, averiguar las necesidades de información, proponer mejoras, especificar requisitos de software, redactar manuales y procedimientos, y apoyar la puesta en marcha de sistemas, actuando de nexo entre usuarios de la organización y el grupo de proyecto.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item c-infra">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Técnico Superior en Infraestructura de Tecnología de la Información
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto-carreras-acordeon">
                        El Técnico Superior en Análisis Funcional de Sistemas Informáticos estará capacitado para comprender e interpretar fines, negocios o actividades de una organización, analizar los procesos que se llevan a cabo, averiguar las necesidades de información, proponer mejoras, especificar requisitos de software, redactar manuales y procedimientos, y apoyar la puesta en marcha de sistemas, actuando de nexo entre usuarios de la organización y el grupo de proyecto.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item c-comercio">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Técnico Superior en Comercialización
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto-carreras-acordeon" >
                        El Técnico Superior en Análisis Funcional de Sistemas Informáticos estará capacitado para comprender e interpretar fines, negocios o actividades de una organización, analizar los procesos que se llevan a cabo, averiguar las necesidades de información, proponer mejoras, especificar requisitos de software, redactar manuales y procedimientos, y apoyar la puesta en marcha de sistemas, actuando de nexo entre usuarios de la organización y el grupo de proyecto.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

