<div class="contenedor-institucion">
    <div class="row fila-uno mb-3">
        <div class="col">
            <h2 class="titulo-intitucion"><span class="span-uno">Colegio Superior</span><br>Florentino Ameghino N47 <span class="span-dos">Nivel Terciario</span></h2>
        </div>
    </div>
    <div class="row fila-dos">
        <div class="col-8 col-una">
            <p class="p-uno">
                Posee una larga trayectoria en nuestra ciudad y la zona. En 1930, Don Alfredo Saybene, propuso la creación de un Instituto de Enseñanza Media que posibilitara a los jóvenes cursar el Bachillerato sin necesidad de trasladarse a Rosario.
            </p>            
            <p class="p-dos">
                En 1931 inicia sus actividades con el nombre de Instituto Incorporado Florentino Ameghino y, en 1936, toma el nombre de Colegio Nacional, identidad que marca a la Institución como “EL NACIO”
            </p>
        </div>
        <div class="col-4 col-dos">
            <img src="../../assets/foto-institucion.jpg" alt="foto institución">
        </div>
    </div>
</div>
<p class="p-carreras">Desde 1987 funciona el Nivel Terciario en donde actualmente se dictan las siguientes Carreras Técnicas:</p>
<div class="c-carreras row">
    <div class="col d-flex justify-content-center align-items-center">
        <p class="c-carrerasTitulo">Carreras Terciarias</p>
    </div>
    <div class="col-11">
        <div class=" row c-analisis">
            <h2>Técnico Superior en Análisis Funcional de Sistemas Informáticos</h2>
        </div>
        <div class="row c-diseno">
            <h2>Técnico Superior en Diseño Gráfico y Publicitario</h2>
        </div>
        <div class=" row c-infra">
            <h2>Técnico Superior en Infraestructura de Tecnología de la Información</h2>
        </div>
        <div class="row c-comercio">
            <h2>Técnico Superior en Comercialización</h2>
        </div>
    </div>
    
</div>




