
.contenedor-institucion{
  .fila-uno{
    .titulo-intitucion{
      font-size: 3rem;
      margin-bottom: 1rem;
        .span-uno{
            font-size: 1.5rem;
        }
        .span-dos{
          font-style: italic;
          font-weight: lighter;
          letter-spacing: 2px;
          font-size: 2rem;
        }
    }
    @media only screen and (max-width: 768px) {
      .titulo-intitucion{
        font-size: 2rem;
      } 
    }
  }
  
  .fila-dos{
    overflow: auto;
    zoom: 1;
    text-align: justify;
    img{
      float:right;
      width: 40%;
      padding-left: 1.25rem;
    }
  }
}

.p-carreras{
    font-size: 1rem;
    margin: 1rem 6rem;
}
.c-carreras{
  margin: 0;
  padding: 1rem 6rem;
 
  .accordion-item{
    border: none;
  }
  .accordion-header{
    margin: 0;
    height: 5rem;
    display: flex;
    align-items: center;
  }
  .c-analisis{
    background-color: #3E4095;
  }
  .c-diseno{
    background-color: #F58634;
  }
  .c-infra{
    background-color:#00AFF0;
  }
  .c-comercio{
    background-color: #EC3439;
  }
  .texto-carreras-acordeon{
    margin: 0 5rem 1rem 1rem;
    text-align: justify;
  }
  .accordion-button{
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .accordion-button:hover{
    color: #fff;
    text-transform:uppercase;
    text-shadow: 1px 2px 3px #212121;
  }
}


@media only screen and (max-width: 576px) {
  .c-carreras{
      padding: 1rem 0;

  } 
}
@media only screen and (max-width: 576px) {
  .contenedor-todo{
      padding: 1rem ;

  } 
}
