<div class="row info-carrera">
    <div class="col-7">
        <h2 class="titulo-carrera" id="analisis"><span>Técnico Superior</span><br>Diseño Gráfico<span> y </span>Publicitario</h2> 
        <p>El objetivo de la carrera Técnico Superior en Diseño Gráfico y Publicitario es preparar profesionales capaces de dar solución a problemas de comunicación gráfica, a través de proyectos creativos y de calidad, sustentándose en los métodos y fundamentos del diseño, así como en el dominio de herramientas tecnológicas de vanguardia con sentido ético, humanista y profesional; para satisfacer estratégicamente las necesidades del mercado.</p>
    </div>
    <div class="col i-carrera">
       <div class="mb-3">
        <img src="../../../assets/imagenes/diseño gf.jpg" alt="imagen sobre la carrera">
       </div> 
       <div>
        <img src="../../../assets/imagenes/analisis.jpeg" alt="imagen sobre la carrera">
       </div> 
       
    </div>
</div>


<div id="planEstudio" class="row"> 
    <div class="col-1 plan-estudio">
        <h2 class="sss">Plan de Estudio</h2>
    </div>
    <div class="col-11 plan-anios">
        <div class="row primero ">
            <h3>PRIMER año</h3>
            <ul>
                <li>Taller de Diseño en Comunicación Visual I</li>
                <li>Taller de Dibujo I</li>
                <li>Panorama Histórico Social del Diseño y del Arte</li>
                <li>Psicología General y Evolutiva</li>     
            </ul>
        </div>
        
        <div class="row segundo">
            <h3>SEGUNDO año</h3>
            <ul>
                <li>Taller de Diseño en Comunicación Visual II</li>
                <li>Taller de Dibujo II</li>
                <li>Taller de Lenguaje Visual I</li>
                <li>Psicología Social</li>
                <li>Panorama Histórico Social del Diseño y del Arte II</li>
            </ul>
        </div>
        
        <div class="row tercero">
            <h3>TERCER año</h3>
            <ul>
                <li>Taller de Diseño en Comunicación Visual III</li>
                <li>Taller de Dibujo III</li>
                <li>Taller de Lenguaje Visual II</li>
                <li>Taller de Diseño y Computación</li>
                <li>Tecnología del Diseño</li>
                <li>Ética y Deontología Profesional</li>
            </ul>    
        </div>
    </div>

</div>

