<h2 id="diseno">Técnico Superior Diseño Gráfico y Publicitario</h2>
<p>
    El objetivo de la carrera Técnico Superior en Diseño Gráfico y Publicitario es preparar profesionales capaces de dar solución a problemas de comunicación gráfica, a través de proyectos creativos y de calidad, sustentándose en los métodos y fundamentos del diseño, así como en el dominio de herramientas tecnológicas de vanguardia con sentido ético, humanista y profesional; para satisfacer estratégicamente las necesidades del mercado.
</p>

<div>
    <h3>PRIMER año</h3>
    <ul>
        <li>Taller de Diseño en Comunicación Visual I</li>
        <li>Taller de Dibujo I</li>
        <li>Panorama Histórico Social del Diseño y del Arte</li>
        <li>Psicología General y Evolutiva</li>
    </ul>
            
    <h3>SEGUNDO año</h3>
    <ul>
        <li>Taller de Diseño en Comunicación Visual II</li>
        <li>Taller de Dibujo II</li>
        <li>Taller de Lenguaje Visual I</li>
        <li>Psicología Social</li>
        <li>Panorama Histórico Social del Diseño y del Arte II</li>
    </ul>        
           
    <h3>TERCER año</h3>
    <ul>
        <li>Taller de Diseño en Comunicación Visual III</li>
        <li>Taller de Dibujo III</li>
        <li>Taller de Lenguaje Visual II</li>
        <li>Taller de Diseño y Computación</li>
        <li>Tecnología del Diseño</li>
        <li>Ética y Deontología Profesional</li>
    </ul>    
</div>
 