<h2 id="analisis">Técnico Superior Análisis Funcional de Sistemas Informáticos</h2>

<p>
    El Técnico Superior en Análisis Funcional de Sistemas Informáticos estará capacitado para comprender e interpretar fines, negocios o actividades de una organización, analizar los procesos que se llevan a cabo, averiguar las necesidades de información, proponer mejoras, especificar requisitos de software, redactar manuales y procedimientos, y apoyar la puesta en marcha de sistemas, actuando de nexo entre usuarios de la organización y el grupo de proyecto.
</p>
<div>
    <h3>PRIMER año</h3>
    <ul>
        <li>Comunicación (cuatrimestral)</li>
        <li>Unidad de definición institucional (cuatrimestral)</li>
        <li>Matemática</li>
        <li>Inglés técnico I</li>
        <li>Psicosociología de las organizaciones</li>
        <li>Modelo de negocios</li>
        <li>Arquitectura de las computadoras</li>
        <li>Gestión de software I</li>
        <li>Análisis de sistemas organizacionales</li>
    </ul>
    
    <h3>SEGUNDO año</h3>
    <ul>
        <li>Problemática Socio contemporáneas (cuatrimestral)</li>
        <li>Unidad de definición institucional (cuatrimestral)</li>
        <li>Ingles Técnico II</li>
        <li>Estadística</li>
        <li>Innovación y desarrollo emprendedor</li>
        <li>Modelo de negocios</li>
        <li>Gestión de software II</li>
        <li>Estrategias de negocios</li>
        <li>Desarrollo de Sistemas</li>
        <li>Práctica profesionalizante I</li>
    </ul>
    
    <h3>TERCER año</h3>
    <ul>
        <li>Ética y Responsabilidad Social (cuatrimestral)</li>
        <li>Derecho y Legislación laboral (cuatrimestral)</li>
        <li>Redes y Comunicaciones</li>
        <li>Seguridad de los Sistemas</li>
        <li>Bases de Datos</li>
        <li>Sistema de Información organizacional</li>
        <li>Desarrollo de Sistemas Web</li>
        <li>Práctica profesionalizante II</li>
    </ul>    
</div>
