
<div class="row info-carrera">
    <div class="col-7">
        <h2 class="titulo-carrera" id="analisis"><span>Técnico Superior</span><br>Análisis Funcional<span> de </span>Sistemas Informáticos</h2> 
        <p>El Técnico Superior en Análisis Funcional de Sistemas Informáticos estará capacitado para comprender e interpretar fines, negocios o actividades de una organización, analizar los procesos que se llevan a cabo, averiguar las necesidades de información, proponer mejoras, especificar requisitos de software, redactar manuales y procedimientos, y apoyar la puesta en marcha de sistemas, actuando de nexo entre usuarios de la organización y el grupo de proyecto.</p>
    </div>
    <div class="col i-carrera">
        <div class="mb-3">
            <img src="../../../assets/imagenes/09-12_dia-del-programador.jpg" alt="imagen sobre la carrera">
        </div> 
        <div>
            <img src="../../../assets/imagenes/analisis.jpeg" alt="imagen sobre la carrera">
        </div> 
    </div>
</div>


<div id="planEstudio" class="row"> 
    <div class="col-1 plan-estudio">
        <h2 class="sss">Plan de Estudio</h2>
    </div>
    <div class="col-11 plan-anios">
        <div class="row primero ">
            <h3>PRIMER año</h3>
            <ul>
                <li>Comunicación (cuatrimestral)</li>
                <li>Unidad de definición institucional (cuatrimestral)</li>
                <li>Matemática</li>
                <li>Inglés técnico I</li>
                <li>Psicosociología de las organizaciones</li>
                <li>Modelo de negocios</li>
                <li>Arquitectura de las computadoras</li>
                <li>Gestión de software I</li>
                <li>Análisis de sistemas organizacionales</li>
            </ul>
        </div>
        
        <div class="row segundo">
            <h3>SEGUNDO año</h3>
            <ul>
                <li>Problemática Socio contemporáneas (cuatrimestral)</li>
                <li>Unidad de definición institucional (cuatrimestral)</li>
                <li>Ingles Técnico II</li>
                <li>Estadística</li>
                <li>Innovación y desarrollo emprendedor</li>
                <li>Modelo de negocios</li>
                <li>Gestión de software II</li>
                <li>Estrategias de negocios</li>
                <li>Desarrollo de Sistemas</li>
                <li>Práctica profesionalizante I</li>
            </ul>
        </div>
        
        <div class="row tercero">
            <h3>TERCER año</h3>
            <ul>
                <li>Ética y Responsabilidad Social (cuatrimestral)</li>
                <li>Derecho y Legislación laboral (cuatrimestral)</li>
                <li>Redes y Comunicaciones</li>
                <li>Seguridad de los Sistemas</li>
                <li>Bases de Datos</li>
                <li>Sistema de Información organizacional</li>
                <li>Desarrollo de Sistemas Web</li>
                <li>Práctica profesionalizante II</li>
            </ul>    
        </div>
    </div>
</div>

