<!-- <a href="#" id="scrollLink">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
    </svg>

</a> -->

<!-- <div class="scroll-to-top" [ngClass]="{'show-scrollTop' :  windowScrolled}">
    <button class="btn btn-secondary" data-toglle="button" aria-pressed="true" (click)="scrollToTop()">
       subir
    </button>
</div> 

<div class="scroll-to-top" [ngClass]="{'show-scrollTop' :  windowScrolled}">
   
        <a href="../app.component.html/#top"></a>
       subir
    
</div>
-->

<div class="scroll-to-top" [ngClass]="{'show-scrollTop' :  windowScrolled}">
    <a href="#top"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-circle-fill i-top" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
    </a>
</div> 