.campus{
   justify-content: center;
   padding: 5rem;
    .c-campus{
        .t-campus{
            font-size: 1.5rem;
            font-weight: bold;
        }
        @media only screen and (max-width: 900px) {
            .t-campus{
             font-size: 1.25rem;
            }
        } 
        .t-link-campus{
            font-size: 1.25rem;
            text-align: center;

            a{
                text-decoration: none;
            }
            a:hover{
                background-color: aquamarine;
                border-radius: 50%;   
            }
        }
        @media only screen and (max-width: 900px) {
            .t-link-campus{
             font-size: 1rem;
            }
        } 
        
    }
    
}