<div class="row info-carrera">
    <div class="col-7">
        <h2 class="titulo-carrera" id="infraestructura"><span>Técnico Superior</span><br>
            Soporte<span> de </span>Infraestructura<span> de </span>Tecnología<span> de la </span>Información</h2> 
            <p>El Técnico Superior en Soporte de Infraestructura de Tecnología de la Información estará capacitado para implementar, mantener, actualizar, analizar inconvenientes y resolver problemas derivados de la operación de productos de tecnología de la información que cumplen funciones de sistema operativo, administración de almacenamiento, comunicaciones y redes, seguridad, bases de datos, y otros subsistemas, para garantizar la máxima disponibilidad del ambiente operativo de las aplicaciones informáticas de las organizaciones, para lo cual coordinará o complementará su trabajo con especialistas de la misma organización o externos.</p>
    </div>
    <div class="col i-carrera">
       <div class="mb-3">
        <img src="../../../assets/imagenes/infra-11.png" alt="imagen sobre la carrera">
       </div> 
       <div >
        <img src="../../../assets/imagenes/infra-22.png" alt="imagen sobre la carrera">
       </div> 
       
    </div>
</div>


<div id="planEstudio" class="row"> 
    <div class="col-1 plan-estudio">
        <h2 class="sss">Plan de Estudio</h2>
    </div>
    <div class="col-11 plan-anios">
        <div class="row primero ">
            <h3>PRIMER año</h3>
            <ul>
                <li>Comunicación (cuatrimestral)</li>
                <li>Unidad de definición institucional (cuatrimestral)</li>
                <li>Matemática</li>
                <li>Inglés técnico I</li>
                <li>Física aplicada a las Tecnologias de la Información</li>
                <li>Administración</li>
                <li>Arquitectura de las computadoras</li>
                <li>Lógica y Programación</li>
                <li>Infraestructura de Redes I</li>
            </ul>
        </div>
        
        <div class="row segundo">
            <h3>SEGUNDO año</h3>
            <ul>
                <li>Problemática Socio contemporáneas (cuatrimestral)</li>
                <li>Unidad de definición institucional (cuatrimestral)</li>
                <li>Estadística</li>
                <li>Innovación y desarrollo emprendedor</li>
                <li>Sistemas operativos</li>
                <li>Algoritmos y estructura de datos</li>
                <li>Infraestructura de Redes II</li>
                <li>Bases de datos</li>
                <li>Práctica profesionalizante I</li>
            </ul>
        </div>
        
        <div class="row tercero">
            <h3>TERCER año</h3>
            <ul>
                <li>Ética y Responsabilidad Social (cuatrimestral)</li>
                <li>Derecho y Legislación laboral (cuatrimestral)</li>
                <li>Administración de Sistemas Operativos y Redes</li>
                <li>Seguridad de los Sistemas</li>
                <li>Administración de Bases de Datos</li>
                <li>Sistema de Información organizacional</li>
                <li>Práctica profesionalizante II</li>
            </ul>    
        </div>
    </div>
</div>

