.footer{
    padding: 0;
    .filaUno{
        background-color: #000000;
        height: 17rem;
        color: #fff;
        overflow: hidden;
        gap:5rem;
        
        .columUno{
            line-height: 1;
            text-align: center;
            margin-left: 2rem;
                   
            .imgLogo{
                width: 8rem;
                margin: 2rem 0 1rem;
                filter: grayscale(5);
            }
        } 
        @media only screen and (max-width: 610px) {
            .columUno{
                display: none;
            }       
        } 
        .c-dosTres{
            
            .columDos{
            display: flex;
            width: 25rem;
                .contacto{
                    h3{
                        margin: 2rem 0;
                    }
                }
            }
       
            .columTres{
                display:flex;
                align-items: end;
                margin-bottom: 3.5rem;
                padding-right: 1rem;
                gap: 1rem;
                svg{
                width: 20px;
                height: 20px;
                }
                svg:hover{
                scale: 1.2;
                }
            } 

        }
        @media only screen and (max-width: 610px) {
            .c-dosTres{
             padding-left: 2rem;
            }   
        } 
        @media only screen and (max-width: 740px) {
            .c-dosTres{
            flex-direction: column;
            }   
        }   
    }
    @media only screen and (max-width: 830px) {
        .filaUno{
            gap: 3rem;
        }
               
    } 
    @media only screen and (max-width: 740px) {
        .filaUno{
            height: 20rem;
        }
               
    } 
        
    .filaDos{
        height: 1.2rem;
        overflow: hidden;
        .colUno{
            background-color: rgb(56, 56, 56);
            
            p{
                font-size: .8rem;
                margin: 0;
                padding: 0 2rem 0 0;
                text-align: end;
                color: #616161;
            
            }
        }
        .colDos{
            margin: 0;
            padding: 0;
            .colcolor1{
                background-color: #3E4095;
            }
            .colcolor2{
                background-color: #F58634;
            }
            .colcolor3{
                background-color:#00AFF0;
            }.colcolor4{
                background-color: #EC3439;
            }
        }
    
    }
}
